#logo{
    width: 75px;
}

body{
    text-align: center;
    background-color: hsla(60, 29%, 77%, 0.979);
}

#title{
    font-family: Verdana, Arial;
    font-weight: bold;
}

#navbardiv{
    display: flex;
    border: 2px solid black;
    text-align: center;
    font-family: Verdana, Arial;
    padding: -1px;
    background-color: hsl(0, 0%, 24%);
    justify-content: center;
    margin: 0px;
}

#navbardiv a{
    display: flex;
    border: 0px solid black;
    padding: 10px;
    text-align: center;
    justify-content: center;
    float: left;

    color: rgb(255, 255, 255);
    text-decoration: none;


}

#navbardiv a:hover{
    animation:navbarhover 0.3s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes navbarhover {
    0%{background-color: hsl(0, 0%, 24%);}
    100%{background-color: hsl(0, 0%, 9%);}
}

@keyframes navbarhoverout {
    0%{background-color: hsl(0, 0%, 9%);}
    100%{background-color: hsl(0, 0%, 24%);}
}

#footer{
    text-align: center;
    font-family: Verdana, Arial;
    font-size: 15px;
    font-style: italic;
    color: grey;
    position: fixed;
    bottom: 10px;
    width: 97%;
    padding: 5px;
    display: flex;
    justify-content: center;
}

p{
    margin: 0px;
}

hr{
    margin-right: 0px;
    margin-left: 1px;
    border: 1px solid;
}

#navbardiv #active{
    color: rgb(0, 0, 0);
}

.dicediv{
    border: 7px outset;
    display: flex;
    width: max-content;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    font-family: Verdana, Arial;
    margin: 25px;
    border-radius: 10px;
    font-size: smaller;
}

#alldice{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.results{
    font-weight: bold;
    font-size: large;
}

#reset{
    font-weight: bold;
    font-style: italic;
    color: red;
    border: 2px black solid;
    border-radius: 3px;
}

#buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.buttons{
    margin: 2px;
    font-size: 1.1em;
}

@media screen and (max-width:600px) {
    #buttons{
        flex-direction: column;
    }

    .dicediv{
        margin: 5px;
    }

    .buttons{
        height: 45px;
        border-radius: 5px;
        border: 1px black solid;
    }
}

#adbanner{
    display: block;
    border: 2px solid black;
    max-height: 100px;
    height: 100px;
    width: 100%;
    margin: 0px;
    position: absolute;
    bottom: 25px
}

#priv{
    display: flex;
    justify-content: center;
}

#priv a{
    font-family: Verdana, Arial;
    font-size: smaller;
    color: grey;
    position:inherit;
    bottom: 10px;
}